h1{
    text-align: center;
    letter-spacing: 20px;
    background-color: aqua;
    width: auto;
    padding: 50px;
    border: 10px solid fuchsia;
    margin: 40px;
    box-shadow: 20px -20px 5px black;
}
h2{
    text-align: center;
    background-color: darkorange;
    width: auto;
    padding: 20px;
    border: 10px solid purple;
    margin: 40px;
    box-shadow: 20px -20px 5px black;
}
div.relative{
    position: relative;
    left: 10px;
    border: 5px solid firebrick;
}

a{
    margin-left: auto;
    margin-right: auto;
}
